body{text-align:justify;margin-right:290px;}
#bandeau{background:#2476be;text-decoration:none;border-width:0;}
.a{text-decoration:none;}
#titre{background:#2cd6d6;color:#000;font-family:Calibri;font-size:24px;font-weight:700;}
#soustitres{font-size:20px;}
#p{font-size:16px;margin-left:30px;font-family:Calibri;}
#sommaire{font-size:18px;margin-left:40px;font-family:Calibri;}